/* || Landing */

.landing-div {
    background-color: #FDF5E6;
    height: 100vh;

    text-align: center;
}

.landing-title {
    color: #E85A4F;
    font-family: 'Gugi', cursive;
    /* font-size: 116px; */
    font-size: 7.2rem;
}

.landing-subtitle {
    color: #8E8D8A;
    font-family: 'Gugi', cursive;
    /* font-size: 28px; */
    font-size: 1.75rem;
    letter-spacing: 0.05rem;
}

.landing-search-div {
    /* background-color: lavender; */
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-form-inputgroup {
    /* background-color: red; */

    margin: 2rem auto;
    width: 34vw;
    border: 1px solid #3D3D3D;
    border-radius: 10px;
}

.form-control::placeholder {
    color: #3d3d3d73;
    /* font-size: 20px; */
    font-size: 1rem;
    /* font-size: 1.6vw; */
}

.form-control {
    height: 3rem;
    border: none;
    border-radius: 10px 0 0 10px;
}

.form-control:active, .form-control:focus {
    box-shadow: 0 0 5px #E85A4F;
}

.btn-landing-form-dropdown {
    background-color: #FFFFFF;
    color: #8E8D8A;
    /* font-size: 22px; */
    font-size: 1.45rem;
    border-left: 1px solid #8E8D8A;

    border-radius: 0 10px 10px 0;
}

.btn-landing-form-dropdown:active, .btn-landing-form-dropdown:focus {
    /* box-shadow: none; */
    box-shadow: 0 0 5px #E85A4F;
}

.btn-landing-search {
    background-color: #FDF5E6;
    color: #E85A4F;
    font-family: 'Gugi', cursive;
    /* font-size: 30px; */
    font-size: 2rem;
    padding: 0rem 5rem;
    border: 3px solid #E85A4F;
    border-radius: 50px;
}

.btn-landing-search:hover, .btn-landing-search:focus, .btn-landing-search:active {
    background-color: #E85A4F;
    color: #FDF5E6;
    border: 3px solid #3D3D3D;
}

/* Large Screen Breakpoint */
@media (min-width: 1025px) {
    
}

/* Laptop Breakpoint */
@media (min-width: 769px) and (max-width: 1024px) {
    .landing-form-inputgroup {
        width: 50vw;
    }
}

/* Tablet Breakpoint */
@media (min-width: 481px) and (max-width: 768px) {
    .landing-title {
        font-size: 5rem;
    }
    .landing-subtitle {
        font-size: 1.35rem;
        letter-spacing: 0.05rem;
    }
    .landing-form-inputgroup {
        width: 50vw;
    }
}

/* Mobile Breakpoint */
@media (max-width: 480px) {
    .landing-title {
        font-size: 3.2rem;
    }
    .landing-subtitle {
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
    }
    .landing-form-inputgroup {
        margin: 1.2rem auto;
        width: 75vw;
    }
    .form-control::placeholder {
        font-size: 3.4vw;
    }
    .btn-landing-search {
        background-color: #FDF5E6;
        color: #E85A4F;
        font-family: 'Gugi', cursive;
        font-size: 1.6rem;
        padding: 0rem 5rem;
        border: 3px solid #E85A4F;
        border-radius: 50px;
    }
}