/* || NavbarHeader */

.navbar {
    /* background-color: lavender; */

    padding: 3rem 5rem;
    font-family: 'Gugi', cursive;
}

#navbarheader-brand {
    /* background-color: palegoldenrod; */

    color: #3D3D3D;
    font-size: 3rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #3D3D3D;
}

.navbarheader-nav-item {
    /* background-color: palegreen; */

    font-size: 1.6rem;
}